/* フレーム用 */
.frameDefault{
    position: absolute;
    height: 484px;
    width: 776px;
}
.frameLeftTop{
    top: 100px;
    left: 345px;
}
.frameRightTop{
    top: 100px;
    left: 1130px;
}
.frameLeftBottom{
    top: 590px;
    left: 345px;
}
.frameRightBottom{
    top: 590px;
    left: 1130px;
}
/* プレイヤー名前用 */
.nameDefault{
    text-align: center;
    background-color: #0000;
    width: 770px;
    height: 40px;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    border:none;
}
/*Aチーム*/
.nameLeftTop{
    top: 544px;
    left: 350px;

    background: linear-gradient(180deg, #ffa137 0%, #ff0000 50px);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #000000;
}
/*Bチーム*/
.nameRightTop{
    top: 544px;
    left: 1132px;

    background: linear-gradient(180deg, #37f7ff 0%, #005aff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #000000;
}
/*Cチーム*/
.nameLeftBottom{    
    top: 1034px;
    left: 350px;
    
    background: linear-gradient(180deg, #37ff80 0%, #03ad00 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #000000;
}
/*Dチーム*/
.nameRightBottom{
    top: 1034px;
    left: 1132px;

    background: linear-gradient(180deg, #ff8637 0%, #ffef02 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #000000;
}

/* フェード切り替え */
.changeNameToCategory{
    transition: opacity 1s ease-in-out, background-color 1s ease-in-out;
    opacity: 1;
}
.changeHidden{
    opacity: 0;
}

/* カテゴリ用 */
.categoryDefault{
    position: absolute;
    color:white;
    background-color: rgba(128, 128, 128, 0.5);
    width: auto;
    font-size: 30px;
}
.categoryLeftTop{
    top: 74px;
    left: 350px;
}
.categoryRightTop{
    top: 74px;
    left: 1134px;
}
.categoryLeftBottom{
    top: 564px;
    left: 350px;
}
.categoryRightBottom{
    top: 564px;
    left: 1134px;
}

/* タイトル */
.gameTitle{
    color: orange;
    text-shadow: 3px 3px #a10000;
    font-size: 66px;
    position: absolute;
    top: -50px;
    left: 350px;
}

/* タイマー */
.gameTimer{
    position: absolute;
    font-size: 70px;
    top: -54px;
    left: 1600px;
    text-shadow: 3px 3px black;
}

.leftTopStreamFrame{
    position: absolute;
    top: 103px;
    left: 348px;
    width: 770px;
    height: 433px;
    border-width: 0;
}

.rightTopStreamFrame{
    position: absolute;
    top: 103px;
    left: 1133px;
    width: 770px;
    height: 433px;
    border-width: 0;
}

.leftBottomStreamFrame{
    position: absolute;
    top: 594px;
    left: 348px;
    width: 770px;
    height: 433px;
    border-width: 0;
}

.rightBottomStreamFrame{
    position: absolute;
    top: 594px;
    left: 1133px;
    width: 770px;
    height: 433px;
    border-width: 0;
}

.eventLogo{
    position: absolute;
    top: 860px;
    left: 0px;
    width: 340px;
    margin: 0;
}

/* 参考タイム */
.estimateBase{
    color: #ffdb02;
    text-shadow: 3px 3px #a12500;
    font-size: 60px;
    position: absolute;
    top: 40px;
}
.estimateTimer{
    color: #ff6d00;
    text-shadow: 3px 3px #7a2b00;
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 100px;
}